NODE_ENV=development
PASSWORD=123456
PORT=5000
DB_REMOTE_PASSWORD=ImxfbWZnsY0qBzqM
DB_REMOTE='mongodb+srv://combook-admin:<PASSWORD>@cluster0.a7izc.mongodb.net/combook?retryWrites=true&w=majority'
DB_LOCAL='mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&ssl=false'
JWT_SECRET=thisisarandomstringthisisarandomstring
JWT_EXPIRATION=7d
JWT_COOKIE_EXPIRATION=7

EMAIL_USERNAME=880e56ff057e40
EMAIL_PASSWORD=57701570f249d5
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525 
EMAIL_FROM=jakethecat21@gmail.com

STRIPE_SECRET_KEY=sk_test_51J4m7lKJkMCKMPfki6AJ1EhXk0w12mpBCoze6lMMKW5n6kaOaxrWRF7noNZXYVsksTr1dZDHFilTQeBZiNGCey6t00n1BBLrm9
STRIPE_WEBHOOK_SECRET='whsec_0TXNwlJYiVpXXFIF85NKyE5nw0c9Vdrn'